@model  OvidioAraujo_Thales.Models.VM_Employees

<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong id="TitleGrid">Employees List</strong>
        </div>
        <div class="panel-body" onselectstart="return false;">
            <div class="col-md-12">
                <table class="table table-striped" id="ListDataTable">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                EMPLOYEE NAME
                            </th>
                            <th>
                                EMPLOYEE SALARY
                            </th>
                            <th>
                                EMPLOYEE AGE
                            </th>
                            <th>
                                PROFILE IMAGEN
                            </th>
                            <th>
                                ANUAL SALARY
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListEmployees)
                        {
                            <tr id="row_@item.id">
                                <td>
                                    @item.id
                                </td>
                                <td>
                                    @item.employee_name
                                </td>
                                <td>
                                    @item.employee_salary
                                </td>
                                <td>
                                    @item.employee_age
                                </td>
                                <td>
                                    @item.profile_image
                                </td>
                                <td>
                                    @item.anual_salary
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ListDataTable').DataTable();
    });

</script>
